<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<div class="error" th:if="${erreur} != ''" th:text="${erreur}">

</div>
<form th:action="@{/user/changepassword}" th:object="${utilisateur}" method="post" >
    <label for="nom">Nom complet:</label><br>
    <input th:field="*{nomComplet}" type="text" id="nom" name="nom"><br>
    <label for="email">Email:</label><br>
    <input th:field="*{email}" type="email" id="email" name="email"><br><br>
    <label for="oldpassword">Ancien mot de passe:</label><br>
    <input type="password" id="oldpassword" name="oldpassword"><br><br>
    <label for="password">Nouveau mot de passe:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <label for="confirmation">Confirmation:</label><br>
    <input type="password" id="confirmation" name="confirmation"><br><br>
    <input type="submit" value="Valider">
</form>

</body>
</html>