<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base.html">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Modal ADD USER -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enregistrement d'un utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class="form-add-user" th:action="@{/admin/user/add}" th:object="${utilisateur}"
                      enctype="multipart/form-data" action="#">
                    <div class="modal-body">
                        <div class="common">
                            <input th:field="*{id}" type="hidden" id="update-user-id">
                            <div class="form-group">
                                <label for="role">Role</label>
                                <div th:if="${auth.getRole().getLibRole() == 'ROLE_SUPER'}">
                                    <select name="role" id="role" th:field="*{role.id}" class="form-control">
                                        <option th:each="role:${roles}" th:text="${role.libRole}"
                                                th:if="${role.libRole} == 'ROLE_ADMIN' OR ${role.libRole} == 'ROLE_SUPER'"
                                                th:value="${role.id}">
                                        </option>
                                    </select>
                                </div>
                                <div th:if="${auth.getRole().getLibRole() == 'ROLE_ADMIN'}">
                                    <select name="role" id="role" th:field="*{role.id}" class="form-control">
                                        <option th:each="role:${roles}" th:text="${role.libRole}"
                                                th:if="${role.libRole} == 'ROLE_CAISSIER'"
                                                th:value="${role.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="numpiece">Numero de piece</label>
                                <input th:field="*{numeroPiece}" type="text" class="form-control" id="numpiece"
                                       placeholder="Numero de piece de l'utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="login">Prenom</label>
                                <input th:field="*{prenom}" type="text" class="form-control" id="prenom"
                                       placeholder="Prenom de l'utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input th:field="*{nom}" type="text" class="form-control" id="nom"
                                       placeholder="Nom de l'utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Telephone</label>
                                <input th:field="*{telephone}" type="number" class="form-control" id="telephone"
                                       placeholder="Telephone de l'utilisateur">
                            </div>
                            <div class="form-group user-password">
                                <label for="password">Mot de passe</label>
                                <input th:field="*{pwd}" type="password" class="form-control" id="password"
                                       placeholder="Mot de passe de l'utilisateur">
                            </div>
                            <div class="form-group user-password">
                                <label for="confirmer">Confirmer le mot de passe</label>
                                <input type="password" class="form-control" id="confirmer"
                                       placeholder="Confirmer le mot de passe">
                            </div>

                        </div>
                        <div class="admin">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input th:field="*{login}" type="text" class="form-control" id="login"
                                       placeholder="Login de l'utilisateur">
                            </div>
                        </div>
                        <div class="caissier">
                            <div class="form-group">
                                <!--                                <label for="role">Code <span class="text-danger">*</span></label>-->
                                <label for="role">Code</label>
                                <input th:field="*{code}" type="text" class="form-control" id="code"
                                       placeholder="Code de l'utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="iv">IV</label>
                                <input th:field="*{iv}" type="number" min="100000" class="form-control" th:value="100000" value="100000"  id="iv"
                                       placeholder="IV du caissier">
                            </div>
                            <div class="form-group">
                                <label for="avatar">Avatar</label>
                                <input th:field="*{parts}" class="form-control" type="file" accept=".png,.jpg, .jpeg"
                                       id="avatar" name="photo"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  END MODAL ADD USER  -->

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                        style="margin: 20px;">
                    Enregistrer un utilisateur
                </button>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Numero de pièce</th>
                            <th>Prenom et nom</th>
                            <th>Nom d'utilisateur</th>
                            <th>Telephone</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="utilisateur:${utilisateurs}">
                            <td class="py-1">
                                <img th:src="@{'/images/' + ${utilisateur.photo}}" alt="image"/>
                            </td>
                            <td th:text="${utilisateur.numeroPiece}">Herman Beck</td>
                            <td th:text="${utilisateur.prenom+' '+utilisateur.nom}"></td>
                            <td th:text="${utilisateur.login}">$ 77.99</td>
                            <td th:text="${utilisateur.telephone}">$ 77.99</td>
                            <td th:text="${utilisateur.role.libRole}">May 15, 2015</td>
                            <td>
                                <a class="btn btn-info edit-user"
                                   th:user-id="${utilisateur.id}"
                                   data-toggle="modal"
                                   data-target="#addModal">Modifier</a>
                                <a
                                        th:data="${utilisateur.id}"
                                        class="btn btn-danger btnRemove" href="#"
                                        role="button" data-toggle="modal">Supprimer</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/js/user.js"></script>
</div>
</body>
</html>