<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<form th:action="@{/login}" method="post">
    <a href="/login">Connexion</a>
    <hr>
    <br>
    <input type="text" placeholder="Nom d'utilisateur" id="username" name="username" required="required" autofocus="autofocus"/>
    <br>
    <input type="password" placeholder="Mot de passe" id="password" name="password" required="required"/>
    <br>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <button type="submit" class="login-btn">Connexion</button>
    <button onclick="return null" class="signup-btn">Inscription</button>
</form>